form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type='submit'] {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  